<template>
  <el-dialog
    :visible.sync="visible"
    title="Куда доставить?"
    width="55%"
    top="9vh"
  >
    <el-form
      :model="form"
      :rules="rules"
      status-icon
      ref="form"
    >
      <el-form-item>
        <el-row type="flex" justify="space-between">
          <el-col :span="11">
            <el-form-item prop="user.name">
              <el-input v-model="form.user.name" placeholder="Имя"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item prop="user.phone">
              <el-input
                v-model="form.user.phone"
                v-mask="'+7 (###) ###-##-##'"
                placeholder="Номер телефона">
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form-item>

      <el-form-item>
        <el-col :span="14">
          <el-input v-model="form.user.email" placeholder="E-mail"></el-input>
        </el-col>
      </el-form-item>

      <el-form-item>
        <el-row type="flex" justify="space-between">
          <el-col :span="18">
            <el-form-item prop="address.street">
              <el-input v-model="form.address.street" placeholder="Улица"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item prop="address.house">
              <el-input v-model="form.address.house" placeholder="Дом"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form-item>

      <el-form-item>
        <el-row type="flex" justify="space-between">
          <el-col :span="5">
            <el-input v-model="form.address.flat" placeholder="Квартира"></el-input>
          </el-col>
          <el-col :span="5">
            <el-input v-model="form.address.porch" placeholder="Подъезд"></el-input>
          </el-col>
          <el-col :span="5">
            <el-input v-model="form.address.doorСode" placeholder="Код двери"></el-input>
          </el-col>
          <el-col :span="5">
            <el-input v-model="form.address.floor" placeholder="Этаж"></el-input>
          </el-col>
        </el-row>
      </el-form-item>

      <el-form-item>
        <el-input
          type="textarea"
          v-model="form.description"
          placeholder="Комментарий">
        </el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">Заказать</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import db from '@/firebase'

export default {
  name: 'OrderModal',
  data () {
    return {
      visible: false,
      form: {
        address: {
          street: '',
          house: '',
          flat: '',
          porch: '',
          doorСode: '',
          floor: ''
        },
        user: {
          name: '',
          phone: '',
          email: ''
        },
        description: ''
      },
      rules: {
        'user.name': [{ required: true, message: 'Укажите свое имя', trigger: 'blur' }],
        'user.phone': [{ required: true, min: 18, message: 'Укажите свой телефон', trigger: 'blur' }],
        'address.street': [{ required: true, message: 'Укажите свой адрес', trigger: 'blur' }],
        'address.house': [{ required: true, message: 'Укажите свой дом', trigger: 'blur' }]
      }
    }
  },
  methods: {
    open () {
      this.visible = true
    },
    onSubmit () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const cartLines = this.$store.state.cartLines
          const order = { cartLines, ...this.form }
          this.addOrder(order)
        }
      })
    },
    addOrder (order) {
      db.collection('orders').add(order).then((doc) => {
        this.$store.commit('clearCartLines')
        this.$message({
          message: `
            Ваш заказ успешно оформлен.
            Наш менеджер свяжется с Вами по телефону или e-mail.
          `,
          type: 'success',
          duration: 0,
          showClose: true
        })
        this.visible = false
      }).catch(() => {
        this.$message.error('Ой, что-то пошло не так...')
      })
    }
  }
}
</script>
