<template>
  <div class="app-container">
    <div class="about">
      <h1 class="about__title">О нас</h1>
      <div class="about__text">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eros erat, dignissim in tortor eu, bibendum dictum turpis. Praesent porttitor lacus a porttitor sodales. Maecenas eget fermentum nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eget quam eget tortor hendrerit pretium. Nunc tempus erat ut pretium cursus. Aliquam iaculis neque ut elit lacinia consectetur. Ut lobortis ex vel lacus pretium, eu hendrerit massa tristique. Etiam sit amet purus sagittis nunc feugiat posuere placerat at ex. Fusce sed luctus arcu.
        </p>
        <p>
        Donec a pulvinar sapien, vitae accumsan ex. Proin eu nibh eget urna ultricies posuere id eget ante. Nam pharetra quam sit amet nisl imperdiet, a pharetra ante suscipit. Phasellus a magna felis. Vestibulum eget iaculis massa, non molestie quam. Pellentesque vel mi eget libero maximus condimentum a et massa. Vivamus posuere ultrices lectus, quis volutpat mi ullamcorper eu.
        </p>
        <p>
        Donec faucibus sit amet urna sit amet porta. Aliquam eros arcu, mollis in felis eget, aliquam gravida sem. Sed id mauris at ligula vulputate consectetur nec quis odio. Curabitur interdum nibh vel nisi feugiat ullamcorper. Maecenas in ligula tempus, porta eros vitae, maximus dui. In vel dolor eu augue feugiat lobortis. Cras lectus ligula, semper sit amet luctus eget, scelerisque pretium felis. Nullam egestas interdum sem, a porttitor ex ullamcorper quis. Nullam semper enim vel odio dapibus dictum. Phasellus eu eleifend nisi, eu luctus ex. Ut elementum felis eu nibh fermentum, sit amet pellentesque leo feugiat. Sed tincidunt dapibus eros nec faucibus. Nam ut mattis lectus.
        </p>
        <p>
        Aliquam ullamcorper tellus at nisl ornare, in rhoncus nisi euismod. Etiam elit lectus, volutpat eget pretium ac, sagittis eu massa. Pellentesque erat purus, luctus tincidunt auctor sagittis, convallis ut tortor. Vestibulum commodo scelerisque est, eget tempus quam porta at. Suspendisse vestibulum velit non ornare suscipit. Fusce diam neque, tempor ac diam eu, porttitor finibus mauris. Maecenas venenatis mi et interdum hendrerit. Nulla non fermentum leo. Proin dapibus bibendum libero, ac rutrum ex dictum vitae. Quisque libero tortor, congue ornare tellus ut, tincidunt cursus dolor. Morbi id leo ullamcorper dolor tempus eleifend. Pellentesque facilisis venenatis arcu ac varius. Aenean blandit mauris tempus sapien tempus, congue tempor ligula cursus. Pellentesque eu lorem odio.
        </p>
        <p>
        Morbi a ipsum eget tellus dictum sagittis ut at neque. Fusce quis fringilla ligula, ut ultricies lorem. In pellentesque varius hendrerit. Integer at enim libero. Nulla at lobortis lacus, sed rhoncus sem. Duis sollicitudin mauris id ex imperdiet, eget accumsan quam fringilla. Sed mattis maximus diam, ut maximus dui fringilla vulputate.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eros erat, dignissim in tortor eu, bibendum dictum turpis. Praesent porttitor lacus a porttitor sodales. Maecenas eget fermentum nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent eget quam eget tortor hendrerit pretium. Nunc tempus erat ut pretium cursus. Aliquam iaculis neque ut elit lacinia consectetur. Ut lobortis ex vel lacus pretium, eu hendrerit massa tristique. Etiam sit amet purus sagittis nunc feugiat posuere placerat at ex. Fusce sed luctus arcu.
        </p>
        <p>
        Donec a pulvinar sapien, vitae accumsan ex. Proin eu nibh eget urna ultricies posuere id eget ante. Nam pharetra quam sit amet nisl imperdiet, a pharetra ante suscipit. Phasellus a magna felis. Vestibulum eget iaculis massa, non molestie quam. Pellentesque vel mi eget libero maximus condimentum a et massa. Vivamus posuere ultrices lectus, quis volutpat mi ullamcorper eu.
        </p>
        <p>
        Donec faucibus sit amet urna sit amet porta. Aliquam eros arcu, mollis in felis eget, aliquam gravida sem. Sed id mauris at ligula vulputate consectetur nec quis odio. Curabitur interdum nibh vel nisi feugiat ullamcorper. Maecenas in ligula tempus, porta eros vitae, maximus dui. In vel dolor eu augue feugiat lobortis. Cras lectus ligula, semper sit amet luctus eget, scelerisque pretium felis. Nullam egestas interdum sem, a porttitor ex ullamcorper quis. Nullam semper enim vel odio dapibus dictum. Phasellus eu eleifend nisi, eu luctus ex. Ut elementum felis eu nibh fermentum, sit amet pellentesque leo feugiat. Sed tincidunt dapibus eros nec faucibus. Nam ut mattis lectus.
        </p>
        <p>
        Aliquam ullamcorper tellus at nisl ornare, in rhoncus nisi euismod. Etiam elit lectus, volutpat eget pretium ac, sagittis eu massa. Pellentesque erat purus, luctus tincidunt auctor sagittis, convallis ut tortor. Vestibulum commodo scelerisque est, eget tempus quam porta at. Suspendisse vestibulum velit non ornare suscipit. Fusce diam neque, tempor ac diam eu, porttitor finibus mauris. Maecenas venenatis mi et interdum hendrerit. Nulla non fermentum leo. Proin dapibus bibendum libero, ac rutrum ex dictum vitae. Quisque libero tortor, congue ornare tellus ut, tincidunt cursus dolor. Morbi id leo ullamcorper dolor tempus eleifend. Pellentesque facilisis venenatis arcu ac varius. Aenean blandit mauris tempus sapien tempus, congue tempor ligula cursus. Pellentesque eu lorem odio.
        </p>
        <p>
        Morbi a ipsum eget tellus dictum sagittis ut at neque. Fusce quis fringilla ligula, ut ultricies lorem. In pellentesque varius hendrerit. Integer at enim libero. Nulla at lobortis lacus, sed rhoncus sem. Duis sollicitudin mauris id ex imperdiet, eget accumsan quam fringilla. Sed mattis maximus diam, ut maximus dui fringilla vulputate.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
  .about__title {
    margin: 40px 0 48px 0;
    font-size: 36px;
    font-weight: 600;
  }
  .about__text {
    font-size: 18px;
  }
</style>
