<template>
  <div class="app-container">
    <el-row>
      <el-col :span="14" :offset="5">
        <div v-loading.fullscreen.lock="loading" />
        <div v-if="!loading">
          <h1 class="cart__title">Корзина</h1>
          <div class="cart__list">
            <el-row
              v-for="product in products"
              :key="product.id"
              style="margin-bottom: 15px; align-items: center;" type="flex"
            >
              <el-col :span="11">
                <div class="cart__line-name">{{ product.name }}</div>
              </el-col>
              <el-col :span="5">
                <product-to-cart
                  :product="product"
                  outline>
                </product-to-cart>
              </el-col>
              <el-col :span="6" style="text-align: right;">
                <div class="cart__line-price">
                  {{ (product.price * cartLines[product.id]) | currency }}
                </div>
              </el-col>
              <el-col :span="2" style="text-align: right;">
                <i
                  @click="removeProduct(product)"
                  class="el-icon-circle-close-outline"
                  style="font-size: 22px;">
                </i>
              </el-col>
            </el-row>
            <div v-if="!products.length" class="cart__list-empty-line">
              Добавьте что-нибудь из меню
            </div>
          </div>
          <div class="cart__summary">
            Сумма заказа:
            <span class="primary__text">{{ totalPrice | currency }}</span>
          </div>

          <el-row type="flex">
            <el-col>
              <router-link :to="{ name: 'home' }">
                <el-button plain>Вернуться в меню</el-button>
              </router-link>
            </el-col>
            <el-col style="text-align: right;">
              <el-button
                @click="openOrderModal"
                :disabled="!products.length"
                type="primary"
              >
                Заказать
              </el-button>
            </el-col>
          </el-row>
        </div>
      </el-col>
    </el-row>
    <order-modal ref="modal" />
  </div>
</template>

<script>
import ProductService from '@/services/products'
import ProductToCart from '@/components/ProductToCart.vue'
import OrderModal from '@/components/modals/Order.vue'

export default {
  name: 'Cart',
  components: { ProductToCart, OrderModal },
  computed: {
    loading () {
      return ProductService.loading
    },
    cartLines () {
      return this.$store.state.cartLines
    },
    totalPrice () {
      return this.$store.getters.inCartProductsTotalPrice
    },
    products () {
      return this.$store.getters.inCartProducts
    }
  },
  methods: {
    openOrderModal () {
      this.$refs.modal.open()
    },
    removeProduct (product) {
      this.$store.commit('removeProductInCart', product)
    }
  }
}
</script>

<style scoped>
.el-icon-circle-close-outline {
  color: #878686;
  cursor: pointer;
}
.cart__title {
  margin: 0;
  margin-top: 20px;
  font-size: 34px;
  font-weight: 600;
}
.cart__list {
  margin: 30px 0 24px;
  padding: 20px 0 5px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.cart__line-name, .cart__line-price {
  color: #373535;
  font-size: 21px;
  font-weight: 600;
}
.cart__summary {
  color: #373535;
  text-align: right;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 600;
}
.cart__list-empty-line {
  padding-bottom: 15px;
  color: #373535;
}
</style>
