<template>
  <div class="home">
    <banners />
    <donuts />
    <ice-cream />
    <drinks />
  </div>
</template>

<script>
import Banners from '@/components/Banners'
import Donuts from '@/components/Donuts'
import IceCream from '@/components/IceCream'
import Drinks from '@/components/Drinks'

export default {
  name: 'Home',
  components: {
    Banners,
    Donuts,
    IceCream,
    Drinks
  }
}
</script>
