<template>
  <el-carousel :interval="6000" trigger="click">
    <el-carousel-item v-for="item in banners" :key="item">
      <img :src="item" width="100%">
    </el-carousel-item>
  </el-carousel>
</template>

<script>
export default {
  name: 'Banners',
  data () {
    return {
      banners: [
        'poster.jpg',
        'poster1.jpg'
      ]
    }
  }
}
</script>

<style>
.el-carousel__container {
  background: #fafafa;
  min-height: calc(560 * 100vw / 1950);
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
</style>
