<template>
  <div id="donuts" style="padding-top: 35px;">
    <div class="app-container">
      <el-row :gutter="30">
        <template v-for="product in products">
          <el-col :span="6" :key="product.id">
            <product-item :product="product" />
          </el-col>
        </template>
      </el-row>
    </div>
  </div>
</template>

<script>
import ProductItem from '@/components/ProductItem'

export default {
  name: 'Donuts',
  components: { ProductItem },
  computed: {
    products () {
      return this.$store.state.menu.donuts
    }
  }
}
</script>
