<template>
  <div id="drinks">
    <div class="app-container">
      <h2 class="menu__section-title">Напитки</h2>
      <el-row :gutter="20">
        <template v-for="product in products">
          <el-col :span="4" :key="product.id">
            <product-item-drinks :product="product" />
          </el-col>
        </template>
      </el-row>
    </div>
  </div>
</template>

<script>
import ProductItemDrinks from '@/components/ProductItem/Drinks'

export default {
  name: 'Drinks',
  components: { ProductItemDrinks },
  computed: {
    products () {
      return this.$store.state.menu.drinks
    }
  }
}
</script>

<style scoped>
  .menu__section-title {
    margin: 0;
    padding: 55px 0;
    font-size: 34px;
    font-weight: 600;
  }
</style>
