<template>
  <div class="floating-cart">
    <el-popover
      v-model="isOpen"
      :offset="9"
      :disabled="!products.length"
      :visible-arrow="false"
      placement="bottom-start"
      trigger="manual"
      width="200"
    >
      <div class="floating-cart__popover">
        <div v-for="product in products" :key="product.id" class="floating-cart__line">
          <div class="floating-cart__product" style="padding-bottom: 5px;">
            <span class="floating-cart__product-name">{{ product.name }}</span>
            <i @click="removeProduct(product)" class="el-icon-close"></i>
          </div>
          <div class="floating-cart__product">
            <product-to-cart
              :product="product"
              outline
              input-number-size="mini">
            </product-to-cart>
            <span class="floating-cart__product-price">
              {{ (product.price * cartLines[product.id]) | currency }}
            </span>
          </div>
        </div>
      </div>
      <div class="floating-cart__totals">
        <span>Сумма заказа:</span>
        <span>{{ totalPrice | currency }}</span>
      </div>

      <el-button
        @click="isOpen = !isOpen"
        :class="{ 'floating-cart__list-switch_no-items': !products.length }"
        class="floating-cart__list-switch"
        slot="reference"
        type="text"
      >
        <div
          :class="{ 'floating-cart__skeleton': loading }"
          class="floating-cart__total-price">
          {{ totalPrice | currency }}
        </div>
        <div
          :class="{ 'floating-cart__skeleton': loading }"
          class="floating-cart__total-amount"
        >
          <span :class="{ 'floating-cart__total-amount_zero': !products.length }">
            {{ totalAmount }}
            {{ totalAmount | pluralize(['товар', 'товара', 'товаров']) }}
          </span>
          <i
            v-if="products.length"
            :class="`el-icon-arrow-${isOpen ? 'up' : 'down'}`"
            class="el-icon-right">
          </i>
        </div>
      </el-button>
    </el-popover>
    <router-link :to="{ name: 'cart' }">
      <el-button type="primary">Корзина</el-button>
    </router-link>
  </div>
</template>

<script>
import ProductToCart from '@/components/ProductToCart.vue'
import ProductService from '@/services/products'

export default {
  name: 'FloatingCart',
  components: { ProductToCart },
  data () {
    return {
      isOpen: false
    }
  },
  computed: {
    loading () {
      return ProductService.loading
    },
    cartLines () {
      return this.$store.state.cartLines
    },
    totalAmount () {
      return this.$store.getters.inCartProductsTotalAmount
    },
    totalPrice () {
      return this.$store.getters.inCartProductsTotalPrice
    },
    products () {
      return this.$store.getters.inCartProducts
    }
  },
  watch: {
    // force close
    'products.length' (length) {
      length || (this.isOpen = false)
    }
  },
  methods: {
    removeProduct (product) {
      this.$store.commit('removeProductInCart', product)
    }
  }
}
</script>

<style scoped>
.floating-cart__skeleton {
  width: 95px;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #f1f1f1 !important;
}
.floating-cart__skeleton .floating-cart__total-amount_zero {
  color: #f1f1f1 !important;
}
.floating-cart__popover {
  overflow-y: auto;
  max-height: 70vh;
  margin-right: -12px;
}
.el-icon-close {
  cursor: pointer;
}
.el-icon-close:hover {
  color: #ef7caf;
}
.floating-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.floating-cart__line {
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-right: 12px;
}
.floating-cart__line:first-child {
  padding-top: 0;
  border-top: none;
}
.floating-cart__totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  color: #373535;
  font-size: 14px;
  font-weight: 600;
}
.floating-cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.floating-cart__list-switch {
  text-align: left;
  padding: 3px 20px;
  margin-right: 7px;
}
.floating-cart__list-switch_no-items {
  cursor: default;
}
.floating-cart__total-price {
  color: #373535;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
.floating-cart__total-amount {
  font-weight: 600;
}
.floating-cart__total-amount i {
  font-weight: 600;
}
.floating-cart__total-amount_zero {
  color: #999;
}
.floating-cart__product-price {
  color: #373535;
  font-size: 15px;
  font-weight: 600;
}
.floating-cart__product-name {
  color: #373535;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
</style>
