<template>
  <div class="app-container">
    <div class="footer">
      Макдонатс &copy; {{ new Date().getFullYear() }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
