<template>
  <div class="app-container">
    <el-row type="flex" justify="space-between" align="middle">
      <el-col :span="6">
        <div class="header__item-inner_logo">
          <a class="header__logo" href="/">
            <img src="logo1.png">
          </a>
        </div>
      </el-col>
      <el-col :span="6" class="text-center">
        <div class="header__about-slogan">Доставка пончиков Екатеринбург</div>
      </el-col>
      <el-col :span="6" class="text-right">
        <div class="contacts-phone">
          <div class="contacts-phone__number">
            <a class="contacts-phone__number-link" href="tel:88007777777">
              8 800 777-77-77
            </a>
          </div>
          <div class="contacts-phone__description">
            <span class="contacts-phone__description-text">
              Звонок бесплатный
            </span>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>
.header__about-slogan {
  display: inline-block;
  white-space: pre;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.contacts-phone__number {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.contacts-phone__number-link {
  color: #000;
  text-decoration: none;
}
.contacts-phone__description-text {
  color: #999;
}
</style>
