<template>
  <div id="ice-cream">
    <div class="app-container">
      <h2 class="menu__section-title">Мороженое</h2>
      <el-row :gutter="30">
        <template v-for="product in products">
          <el-col :span="6" :key="product.id">
            <product-item :product="product" />
          </el-col>
        </template>
      </el-row>
    </div>
  </div>
</template>

<script>
import ProductItem from '@/components/ProductItem'

export default {
  name: 'IceCream',
  components: { ProductItem },
  computed: {
    products () {
      return this.$store.state.menu.iceCream
    }
  }
}
</script>

<style scoped>
  .menu__section-title {
    margin: 0;
    padding: 55px 0;
    font-size: 34px;
    font-weight: 600;
  }
</style>
