<template>
  <nav v-sticky class="navigation">
    <div class="app-container">
      <el-row type="flex" align="middle">
        <el-col>
          <nav-menu />
        </el-col>
        <el-col>
          <floating-cart />
        </el-col>
      </el-row>
    </div>
  </nav>
</template>

<script>
import NavMenu from '@/components/NavMenu'
import FloatingCart from '@/components/FloatingCart'

export default {
  name: 'Navigation',
  components: {
    NavMenu,
    FloatingCart
  }
}
</script>

<style>
.navigation {
  background-color: #fff;
  z-index: 11;
}

.navigation_sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation_sticky + .main {
  padding-top: 58px !important; /* offsetHeight navigation */
}

.navigation_sticky:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
</style>
