<template>
  <div>
    <div class="navigation__logo">
      <a class="navigation__logo-link" href="/">
        <img class="navigation__logo-img" src="apple-touch-icon.png">
      </a>
    </div>

    <scrollactive
      v-if="$route.name === 'home'"
      :scrollOffset="48"
      :offset="360"
      class="navigation__list"
      tag="ul"
    >
      <li class="navigation__item">
        <a href="#donuts" class="scrollactive-item navigation__link">Пончики</a>
      </li>
      <li class="navigation__item">
        <a href="#ice-cream" class="scrollactive-item navigation__link">Мороженое</a>
      </li>
      <li class="navigation__item">
        <a href="#drinks" class="scrollactive-item navigation__link">Напитки</a>
      </li>
    </scrollactive>
    <ul v-else class="navigation__list">
      <li class="navigation__item">
        <router-link :to="{ name: 'home', hash: '#donuts' }" class="navigation__link">
          Пончики
        </router-link>
      </li>
      <li class="navigation__item">
        <router-link :to="{ name: 'home', hash: '#ice-cream' }" class="navigation__link">
          Мороженое
        </router-link>
      </li>
      <li class="navigation__item">
        <router-link :to="{ name: 'home', hash: '#drinks' }" class="navigation__link">
          Напитки
        </router-link>
      </li>
    </ul>

    <ul class="navigation__list navigation__list_router">
      <li v-for="route in routes" :key="route.name" class="navigation__item">
        <router-link :to="route" class="navigation__link">
          {{ route.meta.title }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'NavMenu',
  data () {
    return {
      routes: this.$router.options.routes.filter(el => el.meta.isNavMenuItem)
    }
  }
}
</script>

<style scoped>
.navigation__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-51px);
  transition: transform 0.25s ease;
}

.navigation_sticky .navigation__list {
  transform: translateX(0);
}

.navigation__item {
  display: inline-block;
  margin-left: 20px;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__list_router .navigation__item:first-child {
  margin-left: 20px;
}

.navigation__link {
  display: inline-block;
  line-height: 1;
  color: #000;
  padding: 22px 0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navigation__link:hover {
  color: #ec599d;
}

.navigation__link.is-active, .navigation__link.router-link-active {
  color: #ec599d;
  font-weight: 700;
}

.navigation__logo {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.navigation_sticky .navigation__logo-link {
  transform: translateX(0);
}

.navigation__logo-link {
  position: relative;
  display: block;
  width: 51px;
  height: 36px;
  transform: translateX(-51px);
  transition: transform 0.25s ease;
}

.navigation__logo-img {
  margin-left: -2px;
  width: 36px;
  height: auto;
  border: none;
}
</style>
