<template>
  <div class="product-item">
    <div class="product-item__image">
      <img
        :src="product.image"
        :alt="product.name"
        class="product-item__image-img"
      >
    </div>

    <div class="product__info">
      <div class="product__name">{{ product.name }}</div>
      <div class="product__description">{{ product.description }}</div>
    </div>

    <el-row
      class="product__controls"
      justify="space-between"
      align="middle"
      type="flex"
    >
      <el-col>
        <div class="product__price">{{ product.price | currency }}</div>
      </el-col>
      <el-col class="product__to-cart">
        <ProductToCart :product="product" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import ProductToCart from '@/components/ProductToCart.vue'

export default {
  name: 'ProductItem',
  components: { ProductToCart },
  props: ['product']
}
</script>

<style scoped>
  .product-item__image {
    position: relative;
    height: 218px;
    user-select: none;
  }

  .product-item__image-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .product__info {
    min-height: 124px;
    max-height: 124px;
  }

  .product__name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #373535;
    line-height: 1.125;
  }

  .product__price {
    color: #373535;
    font-size: 26px;
    font-weight: 600;
  }

  .product__description {
    margin-bottom: 17px;
    font-size: 15px;
    line-height: 1.35;
    color: #878686;
  }

  .product__to-cart {
    text-align: right;
  }

  @media only screen and (max-width: 1440px) {
    .product__price {
      font-size: 21px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .product__price {
      font-size: 18px;
    }
  }
</style>
