<template>
  <el-input-number
    @change="onChangeCartAmount"
    v-if="inCart"
    v-model="cartLines[product.id]"
    class="input-number"
    :size="inputNumberSize"
    :class="css">
  </el-input-number>
  <el-button
    v-else
    @click="add"
    class="button__custom-plain"
    plain>
    В корзину
  </el-button>
</template>

<script>
export default {
  name: 'ProductToCart',
  props: {
    product: Object,
    outline: Boolean,
    inputNumberSize: {
      type: String,
      default: ''
    }
  },
  computed: {
    css () {
      const styles = {
        'input-number__outline': this.outline
      }

      if (this.inputNumberSize) {
        styles[`input-number__${this.inputNumberSize}`] = this.inputNumberSize
      }

      return styles
    },
    cartLines () {
      return this.$store.state.cartLines
    },
    inCart () {
      return this.cartLines[this.product.id] > 0
    }
  },
  methods: {
    onChangeCartAmount (val) {
      val ? this.update() : this.remove()
    },
    add () {
      this.$store.commit('addProductInCart', this.product)
    },
    remove () {
      this.$store.commit('removeProductInCart', this.product)
    },
    update () {
      this.$store.commit('updateProductInCart')
    }
  }
}
</script>

<style lang="scss">
.input-number {
  width: 105px !important;
  line-height: 37px !important;

  i {
    font-weight: bold;
  }

  .el-input-number__increase, .el-input-number__decrease {
    width: 29px;
    background: #ec599d;
    border-radius: 4px;
    color: #fff;
    border: none;
  }

  .el-input-number__increase:hover, .el-input-number__decrease:hover {
    background: #ef7caf;
    color: #fff;
  }

  .el-input__inner {
    padding-left: 39px !important;
    padding-right: 39px !important;
    color: #373535;
    border: none;
    font-size: 18px;
    font-weight: 700;
  }
}
.input-number__outline {

  .el-input-number__increase, .el-input-number__decrease {
    background: none;
    color: #ec599d;
    border: 1px solid #ec599d;
  }

  .el-input-number__increase:hover, .el-input-number__decrease:hover {
    background: none;
    color: #ec599d;
  }
}
.input-number__mini {
  width: 84px !important;
  line-height: 26px !important;

  .el-input-number__increase, .el-input-number__decrease {
    width: 22px !important;
  }

  .el-input__inner {
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: 16px;
    font-weight: 600;
  }
}
</style>
