<template>
  <div class="product-item">
    <div class="product__name">{{ product.name }}</div>
    <div class="product-item__image">
      <img
        :src="product.image"
        :alt="product.name"
        class="product-item__image-img"
      >
    </div>
    <div class="text-center">
      <div class="product__price">{{ product.price | currency }}</div>
      <ProductToCart :product="product" />
    </div>
  </div>
</template>

<script>
import ProductToCart from '@/components/ProductToCart.vue'

export default {
  name: 'ProductItemDrinks',
  components: { ProductToCart },
  props: ['product']
}
</script>

<style scoped>
  .product-item__image {
    position: relative;
    height: 153px;
    user-select: none;
  }

  .product-item__image-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .product__name {
    color: #373535;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .product__price {
    color: #373535;
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 1440px) {
    .product__price {
      font-size: 21px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .product__price {
      font-size: 18px;
    }
  }
</style>
