<template>
  <div id="app">
    <el-container>
      <el-header height="75px" class="header">
        <Header />
      </el-header>
      <navigation />
      <el-main class="main">
        <router-view />
      </el-main>
      <el-footer>
        <Footer />
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import db from '@/firebase'
import ProductService from '@/services/products'
import groupBy from 'lodash/groupBy'
import Header from '@/components/Header'
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Navigation,
    Footer
  },
  beforeCreate () {
    const cartLines = JSON.parse(localStorage.getItem('cartLines')) || {}
    this.$store.commit('initCartLines', cartLines)
  },
  created () {
    this.getProducts()
  },
  methods: {
    getProducts () {
      db.collection('products').get().then(({ docs }) => {
        const products = docs.map((doc) => {
          return { id: doc.id, ...doc.data() }
        })
        const menu = groupBy(products, 'category')
        this.$store.commit('initProducts', products)
        this.$store.commit('initMenu', menu)
        ProductService.setLoading(false)
      })
    }
  }
}
</script>

<style lang="scss">
  @import '@/fonts.scss';

  html, body {
    font-family: "Segoe UI","Helvetica Neue",Arial,"Liberation Sans","Nimbus Sans L",sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .el-button, .el-input__inner {
    font-weight: 600 !important;
  }
  .button__custom-plain {
    background: #fff !important;
    border-color: #ec599d !important;
    color: #ec599d !important;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .primary__text {
    color: #ec599d;
  }
  .app-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .header {
    padding: 25px 0 0 0 !important;
  }
  .main {
    padding: 0 0 20px 0 !important;
  }
  @media only screen and (max-width: 1424px) {
    .app-container {
      width: 1024px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1264px) {
    .app-container {
      width: 960px;
      margin: 0 auto;
    }
  }
</style>
